* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}
:-moz-placeholder {
  color: #333;
}

.container {
  margin: 3rem 0 4rem;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.title {
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 24px;
  background: linear-gradient(
    92.05deg,
    #ec48b0 10.42%,
    #ec6cb9 47.91%,
    #f6b44c 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-backface-visibility: hidden;
}

.terminal {
  margin: 0 auto;
  min-height: 300px;
  width: 568px;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #333;
    background: #000;
    color: #fff;
    line-height: 1.5;
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-all;
    min-height: 300px;
  }

  &__header {
    height: 34px;
    display: flex;
    align-items: center;
    text-align: center;

    &__icon {
      border-radius: 50%;
      display: inline-block;
      width: 12px;
      height: 12px;

      & + & {
        margin-left: 8px;
      }

      &:first-of-type {
        background: #ff5f56;
        margin-left: 12px;
      }

      &:nth-of-type(2) {
        background: #ffbd2e;
      }

      &:nth-of-type(3) {
        background: #27c93f;
      }
    }
  }

  &__body {
    padding: 12px 14px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    & p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 3px 0;
      width: 100%;
    }

    &--input {
      padding-top: 0;
    }
  }

  &_input {
    background: #000;
    color: #fff;
    font-size: 14px;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    border: none;
    outline: none;
    width: 100%;
  }
}

.green,
.correct {
  color: #1dc121;
}

.pink {
  color: #f81ce5;
}

.bright-green {
  color: #50e3c2;
}

.red,
.wrong {
  color: #ff5f56;
}

.yellow,
.skip {
  color: #ffbd2e;
}

.gray {
  color: #797979;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.total {
  display: flex;
  justify-content: center;

  &__item {
    font-size: 14px;
    padding: 8px;
  }
}
